<h1>Editing Photo</h1>
<form method="post">
    <input name="id" value="{{photo.id}}" type="hidden">
    Title: <input name="title" value="{{photo.title}}"><br>
    Description: <input name="description" value="{{photo.description}}"><br>
    <input type="submit">
</form>